# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Pinterest OAuth
PINTEREST_CLIENT_ID=
PINTEREST_CLIENT_SECRET=

# Resend
RESEND_API_KEY=
WAITLIST_TO_EMAIL=

# Sentry
NEXT_PUBLIC_SENTRY_DSN=

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
PINTEREST_ACCESS_TOKEN = pina_AMAV7SYXABKLSBQAGDALAD47UQJGBHIBQBIQCJTN3ZERBEJLWYWSLCO6SUBIV6SWUUPRH65T6U3ELCI7ZMJX22X2TYNGLIAA
